/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: black;
    padding-top: 98px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #7389AE;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover, nav a.active {
    color: #ffd700; /* Gold color for active link */
}

/* Hero Section */
.hero {
    background-image: url(../PILDID/koolipilt.jpg) ;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

.hero h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 240px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 2);
    
}

.hero p {
    font-size: 1.2rem;
    margin-top: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(1, 0, 0, 2);

}


/* Main Content */
main {
    margin: 40px 0;
}

main h2 {
    font-size: 2rem;
    color: #4a90e2;
    margin-bottom: 10px;
}

main p {
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
    }

    .hero h2 {
        font-size: 2rem;
    }

    nav a {
        margin-left: 0;
        margin-top: 10px;
    }
}